* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --border5: 5px solid white;
  --mazeSize: clamp(300px, 400px, 600px);
}

::backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  height: 100%;
  width: 100%;
  background: url(https://img.freepik.com/free-photo/abstract-blur-empty-green-gradient-studio-well-use-as-background-website-template-frame-business-report_1258-68149.jpg?t=st=1736227933~exp=1736231533~hmac=68347f438d401fdfc3e8930ac29b260566e75f63eb62321398e8efcc6916c3dc&w=740);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
}

main {
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

h1 {
  font-size: clamp(1rem, 5rem, 6rem);
}

main div.maze {
  height: var(--mazeSize);
  width: var(--mazeSize);
  border: var(--border5);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

div.cell {
  border: var(--border5);
}

div.cell span {
  font-size: clamp(2rem, 5rem, 6rem);
}

.score-board {
  width: var(--mazeSize);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.score-board div {
  width: 100%;
  justify-content: space-evenly;
}

.score-board .active {
  background-color: green;
}

.score-board span {
  font-size: 2rem;
}

dialog {
  height: 300px;
  width: 100%;
  max-width: 720px;
  inset: 0.5rem;
  margin: auto;
  background-color: darkgreen;
}

#dialog_containor {
  height: 100%;
  flex-direction: column;
}

dialog h2 {
  font-size: 5rem;
  color: white;
}
