* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --blue-100: #3676CE;
    --gray-100: #232429;
    --white-100: #FBFBFC;
    --black-100: #1A1E21;
    --blue-200: #1776F7;
}

/* ******** Making reusable design ******** */
.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.br-2 {
    border-radius: 2px;
}

.br-4 {
    border-radius: 4px;
}

.br-6 {
    border-radius: 6px;
}

.br-8 {
    border-radius: 8px;
}

.br-10 {
    border-radius: 10px;
}

.grid {
    display: grid;
}

.maxwidth {
    max-width: 1500px;
}

/* ///////////////////////////////////////////////////////// */

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--blue-100);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    height: 90vh;
    width: 90vw;
    background-color: var(--gray-100);
    padding: 10px;
}

.maze {
    height: 500px;
    width: 500px;
}

div img {
    height: auto;
    max-width: 80%;
}

.border-for-maze {
    border: 10px solid var(--black-100);
}

.players {
    height: 200px;
    width: 90vw;
    position: absolute;
    justify-content: space-between;
}

.player {
    height: 100%;
    width: 120px;
    margin: 0 100px;
    flex-flow: column;

    justify-content: space-evenly;
    align-items: center;
}

.player div {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 2px;
}

.player p {
    margin: 5px auto;
    color: var(--white-100);
    text-transform: uppercase;
}



@media screen and (max-width: 1024px) {
    .player {
        height: 85%;
        width: 120px;
        margin: 0 30px;
    }
}


@media screen and (max-width: 900px) {
    .players {
        height: 170px;
        width: 95vw;
    }

    .border-for-maze {
        border: 7px solid var(--black-100);
    }

    
}

@media screen and (max-width: 800px) {
    main.containor {
        padding: 10px;
        flex-flow: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .maze {
        height: 400px;
        width: 400px;
    }

    .players {
        position: relative;
        height: 120px;
        max-width: 350px;
        align-items: center;
    }

    .player p{
        margin: 1px auto;
    }
}


@media screen and (max-width: 650px) {
    main.containor {
        padding: 5px;
    }

    .maze {
        height: 350px;
        width: 350px;
    }

    .players {
        height: 100px;
        max-width: 300px;
    }

    .border-for-maze {
        border: 5px solid var(--black-100);
    }

}